# to automatically enable jdc functionality
# 1. install direnv
# sudo apt install direnv
# 2. add direnv hook to ~/.bashrc
# grep -qxF 'eval "$(direnv hook bash)"' ~/.bashrc || echo 'eval "$(direnv hook bash)"' >> ~/.bashrc
# 3. reload your shell
# source ~/.bashrc
PATH_add jdc/bin
