.idea/
.env

media-center/heimdall/
media-center/jackett/
media-center/ombi/
media-center/plex/
media-center/portainer/
media-center/radarr/
media-center/sonarr/
media-center/tautulli/
media-center/transmission/
media-center/calibre/
media-center/nzbget/
media-center/prowlarr/
media-center/readarr/
miscellaneous/config/
miscellaneous/pihole/
media-center/calibre-web/

traefik/traefik/acme/
traefik/traefik/logs/
