################################################################################
# DOMAIN NAME SETUP
################################################################################

DOMAIN_NAME="example.com"

# Domain Name Overrides
# OVERSEERR_SUBDOMAIN="requests"
# OPEN_WEBUI_SUBDOMAIN="chat"

################################################################################
# ENVIRONMENT SETUP
#
# * commented out lines are the default
################################################################################

TZ="America/Denver"
PUID="1000" # id -u
PGID="1000" # id -g

# UNIVERSAL_RESTART_POLICY="unless-stopped"

# Uncomment to test with Let's Encrypt (HTTPS) Staging Environment
# LETS_ENCRYPT_ENV="https://acme-staging-v02.api.letsencrypt.org/directory"

##################################################################
# DIRECTORY SETUP
#
# * You must customize these paths to match your own setup
# * For my personal setup, I have a NAS mounted at /media/storage
##################################################################

DOCKER_DIRECTORY="/path/to/this/repo"

COMPLETED_DOWNLOADS="/media/storage/downloads"
INCOMPLETE_DOWNLOADS="/downloads/incomplete"
MOVIE_DIR="/media/storage/movies"
TV_DIR="/media/storage/tv"
BOOKS_DIR="/media/storage/books"
# TRANSCODE_DIR="/dev/shm"

##################################################################
# NETWORKING VARIABLES
#
# * You must customize these variables to match your own setup
# * These are the default values for my local network
##################################################################

PHYSICAL_SERVER_IP="192.168.1.55" # ip route get 1 | awk '{print $7}')
PHYSICAL_SERVER_NETWORK="192.168.1.0/24"

DUCKDNS_TOKEN="XXXXXX-XXX-XXXXX-XXXXX"
DUCKDNS_SUBDOMAIN="example"
CLOUDFLARE_EMAIL="example@gmail.com"

##################################################################
# APP VARIABLES
##################################################################

### SHARED DATABASE (POSTGRES)
# POSTGRES_USER="postgres"
POSTGRES_PASSWORD="SharedDatabasePassword"
# POSTGRES_MULTIPLE_DATABASES="umami"

### TRANSMISSION (VPN + TORRENTS)
OPENVPN_PROVIDER="NORDVPN"
OPENVPN_USERNAME="example@gmail.com"
OPENVPN_PASSWORD="XXXXXXXXXXXXXX"

### PLEX (CLAIM TOKEN)
PLEX_CLAIM="XXXXXXXXXXXXXX"

### LLM (NEXT-WEB + SLACK BOT)
OPENAI_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
ANTHROPIC_API_KEY="sk-ant-XXXXXXXXXXXXXXXXXXXXXXXXXX"
STABILITY_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SLACK_BOT_TOKEN="xoxb-XXXXXXXXXXX-XXXXXXXXXXX-XXXXXXXXXXX"
SLACK_APP_TOKEN="xapp-1-XXXXXXXXXX-XXXXXXXXXX-XXXXXXXXXX"
